* {
	margin: 0px;
	padding: 0px;
}

:root {
	--bg-color: #fcfcfc;
	--white-color: white;
	--primary-color: #39db4a;
	--red-color: #ff6767;
	--secondary-color: #90bd95;
	--light-seconder: #edffef;
	--gray-color: #efefef;
	--yellow-color: #ffe605;
	--dark-color: black;
	--bg-color-secondary: #c1f1c6;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bg-color {
	background-color: var(--bg-color);
}
.bg-color-white {
	background-color: var(--white-color);
}
.bg-color-primary {
	background-color: var(--primary-color);
}
.bg-color-secondary {
	background-color: var(--bg-color-secondary);
}
.bg-color-red {
	background-color: var(--red-color);
}
.bg-color-gray {
	background-color: var(--gray-color);
}
.bg-color-dark {
	background-color: var(--dark-color);
}
.bg-color-light-seconder {
	background-color: var(--light-seconder);
}
.text-color-red {
	color: var(--red-color);
}
.text-color-gray {
	color: var(--gray-color);
}
.text-color-yellow {
	color: var(--yellow-color);
}
.text-color-secondary {
	color: var(--secondary-color);
}
.text-color-dark {
	color: var(--dark-color);
}
.text-color-light {
	color: var(--white-color);
}
.text-color-primary {
	color: var(--primary-color);
}
body {
	background-color: var(--bg-color);
}
.border-radius-circle {
	border-radius: 50%;
}
.border-radius-2 {
	border-radius: 2rem;
}
main {
	padding: 2%;
	width: 80%;
	margin: auto;
}
.nav {
	display: flex;
	/* flex-flow: row ; */
	justify-content: space-between;
	margin-bottom: 10rem;
}
.nav-list {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	align-items: center;
}
.nav-link {
	text-decoration: none;
	color: black;
	margin-right: 50px;
	font-weight: 600;
}

.active-link,
.nav-link:hover {
	color: var(--primary-color);
}
.nav-link i.fa-angle-down {
	color: var(--primary-color);
	vertical-align: bottom;
	margin-left: 0.5vw;
}
.text-capitalize {
	text-transform: capitalize;
}
.nav-search {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vw;
	position: relative;
}
.cart-items-badge {
	position: absolute;
	top: 12px;
	padding: 0.5%;
	left: 55px;
	border-radius: 50%;
	width: 0.8rem;
	height: 0.8rem;
	text-align: center;
	font-size: x-small;
}
.cursor-pointer {
	cursor: pointer;
}
.btn {
	border-radius: 20px;
	padding: 1%;
	border: none;
	width: 10rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	font-weight: 500;
	font-size: 1rem;
}

.btn-contact {
	width: 7rem;
	padding: 0.7rem;
}
.btn-contact i {
	margin-right: 5px;
}
.container {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}
.left-side {
	width: 40%;
	display: flex;
	flex-flow: column;
	justify-content: start;
	align-items: start;
}
.right-side {
	width: 60%;
	display: flex;
	justify-content: end;
	position: relative;
}
.py-3 {
	padding: 3rem 0px;
}
.border-radius-top-circle {
	border-radius: 50% 50% 10% 10%;
}
.py-1 {
	padding: 1rem 0px;
}
.p-top-0 {
	padding-top: 0px;
}
.img-container {
	width: 500px;
	height: 500px;
	background: var(--primary-color);
	border-radius: 50%;
}
.text-center {
	text-align: center;
}
.popup {
	border: none;
	border-radius: 25px 25px 0px 25px;
	background-color: var(--white-color);
	position: absolute;
	left: 200px;
	padding: 0.5rem 1rem;
	/* padding: 1rem; */
}
.shadow-bottom {
	box-shadow: 0px 10px 25px 0px rgb(205, 205, 205);
}
.img-container > div + img {
	width: 70%;
	position: absolute;
	top: -60px;
	left: 200px;
}
.font-size-big {
	font-size: 50px;
}
.font-size-small {
	font-size: 20px;
}
.flex-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: end;
	width: 100%;
}
.card-container {
	position: absolute;
	top: 450px;
	display: flex;
	gap: 70px;
}
.card {
	display: flex;
	/* flex-flow: row nowrap; */
	background-color: #fff;
	border-radius: 15px;
	gap: 10px;
	padding: 10px;
	width: max-content;
}
.my-10 {
	margin: 10rem 0rem;
}
.my-5 {
	margin: 5rem 0rem;
}
.my-3 {
	margin: 3rem 0rem;
}
.font-size-medium {
	font-size: 30px;
}
.card img,
.category-card img {
	width: 5rem;
	height: 5rem;
	margin-right: 5px;
	border-radius: 15px;
}
.p-1 {
	padding: 1rem;
}
.p-2 {
	padding: 2rem;
}
.p-3 {
	padding: 3rem;
}
.categories-container {
	display: flex;
	flex-flow: row nowrap;
	gap: 30px;
	justify-content: center;
	align-items: center;
}
.category-card img {
	border-radius: 50%;
}
.category-card {
	width: 15rem;
	background-color: #fff;
	border-radius: 20px;
}

.m-r-2 {
	margin-right: 2rem;
}
.text-uppercase {
	text-transform: uppercase;
	letter-spacing: 2px;
}
.d-flex-space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.circle {
	width: 1rem;
	height: 1rem;
}
.w-40 {
	width: 40%;
}
.w-45 {
	width: 45%;
}
.w-50 {
	width: 50%;
}
.w-60 {
	width: 60%;
}
.w-65 {
	width: 65%;
}
.w-80 {
	width: 80%;
}
.w-100 {
	width: 100%;
}
.d-flex {
	display: flex;
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-nowrap {
	flex-wrap: nowrap;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-space-around {
	justify-content: space-around;
}
.justify-content-space-between {
	justify-content: space-between;
}
.justify-content-start {
	justify-content: start;
}
.justify-content-end {
	justify-content: end;
}
.justify-content-flex-end {
	justify-content: flex-end;
}
.align-items-center {
	align-items: center;
}
.align-items-end {
	align-items: end;
}
.align-items-start {
	align-items: start;
}
.flex-gap-medium {
	gap: 3rem;
}
.flex-gap-small {
	gap: 1rem;
}
.flex-gap-big {
	gap: 5rem;
}
.w-15 {
	width: 15rem;
}
.h-15 {
	height: 15rem;
}
.border-radius-eye {
	border-radius: 0% 50% 0% 50%;
}
.float-right {
	float: right;
}
.clear {
	clear: both;
}
.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}
.right-0 {
	right: 0px;
}
.-left-20 {
	left: -20px;
}
.left-100 {
	left: -30px;
}
.h-5 {
	height: 5rem;
}
.h-10 {
	height: 13rem;
}
.h-20 {
	height: 23rem;
}
.w-5 {
	width: 5rem;
}
.w-10 {
	width: 10rem;
}

.top-0 {
	top: 0px;
}
.top-300 {
	top: 300px;
}
.top-250 {
	top: 250px;
}
.-m-l-2 {
	margin-left: -2rem;
}
.m-auto {
	margin: auto;
}
.-top-150 {
	top: -156px;
}
.top-94 {
	top: 94px;
}

.bottom-30 {
	bottom: 30px;
}
.box-siz-border {
	box-sizing: border-box;
}

.border-5 {
	border: 5px solid var(--white-color);
}
.border-top-left {
	border-radius: 0% 20px 20px 20px;
}

.letter-spacing-0 {
	letter-spacing: 0px;
}
.m-b-10 {
	margin-bottom: 10rem;
}
.rotate-right {
	transform: rotate(90deg);
}
.rotate-left {
	transform: rotate(-20deg);
}
.list {
	list-style: none;
}
.list-item {
	margin-bottom: 1rem;
}
button,li,i{
	cursor: pointer;
}
footer div:last-of-type i {
	display: flex;
	align-items: center;
	justify-content: center;
}
footer div:last-of-type i:hover {
	background: var(--primary-color);
	color: var(--white-color);
}
