* {
	margin: 0px;
	padding: 0px;
}
:root {
	--bg-primary: #fcfcfc;
	--white: white;
	--primary-color: #39db4a;
	--red: #ff6767;
	--secondary-color: #90bd95;
	--light-seconder: #edffef;
	--gray: #efefef;
	--yellow: #ffe605;
	--black: black;
	--light-gray: #868484;
	--bg-secondary: #c1f1c6;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bg-primary {
	background-color: var(--bg-primary);
}
.bg-color-white {
	background-color: var(--white);
}
.bg-color-primary {
	background-color: var(--primary-color);
}
.bg-color-secondary {
	background-color: var(--bg-secondary);
}
.bg-color-red {
	background-color: var(--red);
}
.bg-color-gray {
	background-color: var(--gray);
}
.bg-color-dark {
	background-color: var(--black);
}
.bg-color-light-seconder {
	background-color: var(--light-seconder);
}
.text-color-red {
	color: var(--red);
}
.text-color-gray {
	color: var(--gray);
}
.text-color-yellow {
	color: var(--yellow);
}
.text-color-secondary {
	color: var(--secondary-color);
}
.text-color-dark {
	color: var(--black);
}
.text-color-white {
	color: var(--white);
}
.text-color-light-gary {
	color: var(--light-gray);
}
.text-color-primary {
	color: var(--primary-color);
}

.main {
	padding: 2%;
	width: 75%;
	margin: auto;
}
.header {
	position: sticky;
	top: 0rem;
	background-color: var(--bg-primary);
	padding: 1rem 10%;
	border-bottom: 1px solid var(--bg-secondary);
	z-index: 100;
}
.nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.nav-list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.nav-link {
	text-decoration: none;
	color: black;
	margin-right: 4rem;
	font-weight: 600;
}
.nav-link i.fa-angle-down {
	color: var(--primary-color);
	vertical-align: bottom;
	margin-left: 0.5rem;
}
.active-link,
.nav-link:hover {
	color: var(--primary-color);
}
.nav-search {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.nav-search div {
	position: relative;
}
#collapse {
	display: none;
}
.cart-items-badge {
	position: absolute;
	top: 0px;
	right: -5px;
	padding: 0.5%;
	border-radius: 50%;
	width: 0.8rem;
	height: 0.8rem;
	text-align: center;
	font-size: x-small;
}
.btn {
	border-radius: 2rem;
	padding: 0.8rem 1.5rem;
	border: none;
	width: 8rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	font-weight: 500;
	font-size: 1rem;
	text-transform: capitalize;
	cursor: pointer;
}
.btn-watch {
	width: 15rem;
}
.home {
	display: flex;
	align-items: center;
}
.left-container {
	width: 40%;
	display: flex;
	flex-flow: column;
	gap: 5rem;
	justify-content: start;
	align-items: start;
}
.right-container {
	width: 60%;
	display: flex;
	justify-content: end;
	position: relative;
}
.img-container {
	width: 30rem;
	height: 30rem;
	background: var(--primary-color);
	border-radius: 50%;
	position: relative;
}

.img-container > div + img {
	width: 103%;
	position: absolute;
	bottom: 0%;
	left: -5.5%;
}

.card-container {
	position: absolute;
	display: flex;
	gap: 3rem;
	bottom: -15%;
	left: -3rem;
}
.card {
	display: flex;
	border-radius: 15px;
	gap: 10px;
	padding: 10px;
	width: max-content;
	font-weight: bold;
	font-size: large;
}
.card-img {
	width: 5rem;
	height: 5rem;
	margin-right: 5px;
	border-radius: 15px;
}
.popup {
	border: none;
	border-radius: 25px 25px 0px 25px;
	background-color: var(--white);
	position: absolute;
	left: 0;
	padding: 0.5rem 1rem;
}
.categories-container {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	align-items: center;
	margin: 5rem 0rem;
}
.category-card {
	width: 15rem;
	background-color: #fff;
	border-radius: 20px;
	padding: 4rem 2rem;
}
.heart-icon {
	padding: 1rem;
	width: 1rem;
	height: 1rem;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 0% 50% 0% 50%;
}
.heart-icon:hover {
	color: var(--red);
}
.category-card img {
	border-radius: 50%;
}
.dishes-cards-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 88%;
	height: 40rem;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.right-control {
	right: 0rem;
}
.left-control {
	right: 5rem;
}
.right-control,
.left-control {
	top: 0;
	position: absolute;
	width: 1rem;
	height: 1rem;
	padding: 1rem;
	border-radius: 50%;
}

.right-control:hover,
.left-control:hover {
	background-color: var(--primary-color);
	color: var(--white);
}

.slide-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	position: absolute;
	left: 25px;
	transform: translateX(0px);
	transition: transform 1500ms;
	border-radius: 2rem;
}
.dish-card {
	display: flex;
	flex-direction: column;
	padding: 3rem;
	position: relative;
	border-radius: 2rem;
}
.dish-img {
	width: 15rem;
	height: 15rem;
	padding: 1rem;
}
.testimonials-container {
	margin: 10rem 0;
	display: flex;
	align-items: end;
	justify-content: space-between;
	gap: 15rem;
	/* height: 100%; */
}
.testimonials-container > div:first-of-type > div {
	width: 25rem;
	height: 21rem;
	background: var(--primary-color);
	position: relative;
	border-radius: 50% 50% 10% 10%;
	display: flex;
}
.testimonials-container > div:first-of-type > div > img {
	width: 100%;
	position: absolute;
	bottom: 0%;
	left: -2%;
}
.testimonials-container > div:first-of-type > div > div:first-of-type {
	display: flex;
	position: absolute;
	width: 110%;
	justify-content: space-between;
	top: 40%;
	left: -3%;
}
.testimonials-container .popup {
	position: absolute;
	width: max-content;
	border-radius: 0rem 5rem 5rem 5rem;
	bottom: 0;
	left: 70%;
}
.service-container {
	display: flex;
	justify-content: space-between;
}
.story-container {
	display: flex;
	flex-flow: column;
	width: 50%;
}
.service-cards-container {
	display: flex;
	flex-flow: row wrap;
	width: 50%;
	gap: 2.5rem;
	justify-content: end;
}
.service-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	box-sizing: border-box;
	width: 33%;
	border-radius: 2rem;
	padding: 1rem;
}
.footer-links-container {
	display: flex;
	justify-content: space-between;
	align-items: start;
}
footer ul li a:hover {
	color: var(--primary-color);
}
footer div:last-of-type a {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	cursor: pointer;
}
footer div:last-of-type a:hover {
	background: var(--primary-color);
	color: var(--white);
}
.copyright-container {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 5rem;
	margin: 3rem 0;
}
.social-media-container {
	display: flex;
}
ul {
	list-style: none;
}
li {
	margin-bottom: 1rem;
}

i {
	cursor: pointer;
}
a {
	text-decoration: none;
	color: black;
}
a,
i {
	font-size: 20px;
}
.container {
	margin: 5rem 0rem;
}
.text-center {
	text-align: center;
}
.text-capitalize {
	text-transform: capitalize;
}
.text-uppercase {
	text-transform: uppercase;
	letter-spacing: 2px;
}
.letter-spacing-0 {
	letter-spacing: 0px;
}
section p :not(.service-card p) {
	font-size: 30px;
}
.font-size-small {
	font-size: 20px;
}
.font-size-medium {
	font-size: 50px;
}
.font-size-big {
	font-size: 70px;
}
.circle {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
}
.p-1 {
	padding: 1rem;
}
.py-1 {
	padding: 1rem 0px;
}
.py-3 {
	padding: 3rem 0px;
}
.my-3 {
	margin: 3rem 0rem;
}
.m-r-2 {
	margin-right: 2rem;
}
.-m-l-2 {
	margin-left: -2rem;
}
.m-auto {
	margin: auto;
}
.w-15 {
	width: 15rem;
}
.w-40 {
	width: 40%;
}
.h-5 {
	height: 5rem;
}
.flex-space-between-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.d-flex {
	display: flex;
}
.flex-col {
	flex-direction: column;
}
.flex-gap-medium {
	gap: 3rem;
}
.flex-gap-small {
	gap: 1rem;
}
.align-items-center {
	align-items: center;
}
.border-circle {
	border-radius: 50%;
}
.border-5 {
	border: 5px solid var(--white);
}
.border-top-left {
	border-radius: 0% 20px 20px 20px;
}

.box-siz-border {
	box-sizing: border-box;
}
.rotate-right {
	transform: rotate(90deg);
}
.rotate-left {
	transform: rotate(-20deg);
}
.shadow-bottom {
	box-shadow: 0px 0px 10px 1px rgb(205, 205, 205);
}
.gray-effect:hover,
.gray-effect:hover path:not(path:first-of-type) {
	filter: grayscale(100%);
	fill: gray;
}
.hover-primary-color:hover {
	color: var(--primary-color);
}
@media screen and (max-width: 1140px) {
	.header {
		box-sizing: border-box;
		padding: 1rem;
	}
	.main {
		width: 100%;
		margin: 0%;
		box-sizing: border-box;
		padding: 1rem;
	}
	.home {
		display: flex;
		flex-flow: column nowrap;
	}

	.left-container {
		display: flex;
		width: 100%;
	}
	.right-container {
		display: none;
	}

	.categories-container {
		flex-flow: column nowrap;
	}
	.category-card {
		padding: 1rem;
		width: 10rem;
	}
	.font-size-big {
		font-size: 30px;
	}
	.dishes-cards-container {
		margin-top: 2rem;
		height: 35rem;
	}

	.left-control {
		left: 30%;
	}
	.right-control {
		right: 30%;
	}
	.dish-card {
		padding: 1rem;
	}
	.testimonials-container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 3rem;
	}
	.testimonials-container > div:first-of-type > div {
		width: 18rem;
		height: 15rem;
	}
	.testimonials-container .popup {
		left: 50%;
	}
	.service-container,
	.service-cards-container {
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}
	.service-cards-container,
	.story-container {
		width: 100%;
	}
	.service-card {
		width: 70%;
	}
	.footer-links-container {
		flex-flow: column;
		gap: 3rem;
	}
	.copyright-container {
		flex-direction: column;
		padding: 1rem;
	}
	.container {
		margin: 5rem 0;
	}
}
@media screen and (max-width: 900px) {
	.header {
		/* flex-direction: column; */
		/* align-items: center; */
		position: relative;
	}
	.nav-list,
	.nav-search {
		display: none;
	}
	#collapse {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		top: 0;
		right: 0;
		gap: 1rem;
		position: absolute;
		background-color: var(--bg-primary);
		padding: 2rem;
		border-radius: 1rem 0 1rem 1rem;
		box-sizing: border-box;
	}
	#collapse .nav-list {
		margin-top: 2rem;
	}
	#collapse .fa-grip-lines {
		font-size: x-large;
		position: absolute;
		top: 1.5rem;
		right: 1rem;
	}
	#collapse:hover {
		box-shadow: 0px 0px 10px 1px rgb(205, 205, 205);
	}
	#collapse:hover .nav-list,
	#collapse:hover .nav-search {
		display: flex;
		flex-direction: column;
		align-items: start;
	}
}
